* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}


/* Header & Navigation */
header {
    padding: 20px 15% 10px;
    /* padding: 20px 200px 10px 200px; */
    background-color: #003b95;
    display: flex;
    justify-content: space-between;
}

.logo-text a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    color: #fff;
}

nav {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav li {
    padding: 0.7rem 0;
    /* padding: 10px 0px; */
    border-radius: 30px;
}

nav .active-li {
    border: 1px solid #fff;
    background-color: #0044ab;
}

nav li:hover {
    background-color: #0044ab;
}

nav li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 3px 15px;
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Title & description */
.title {
    padding: 20px 15% 10px;
    /* padding: 10px 200px 10px 200px; */
    background-color: #003b95;
}

.title #page-title,
.title #page-description {
    color: #fff;
    font-family: 'Mooli', sans-serif;
    text-align: center;
    font-weight: 400;
}

.title #page-title {
    font-size: 3.5rem;
}

.title #page-description {
    font-size: 1.3rem;
}

/* Search Section */
.search-section {
    padding: 20px 15% 10px;
    /* padding: 20px 200px 10px 200px; */
    background: linear-gradient(to bottom, #003b95 0, #003b95 50%, transparent 50%, transparent);
}

.inputs {
    display: flex;
    width: 100%;
}

.search-form {
    display: flex;
    border-radius: 10px;
    background-color: #ffb700;
    width: 100%;
}

.city-search,
.date-search,
.people-count {
    border: 4px solid #ffb700;
    border-radius: 10px;
    background-color: #fff;
    padding-left: 8px;
    display: flex;
    align-items: center;
    width: 100%;
}

.city-search input[type=text],
.date-search input[type=date],
.people-count input[type=number] {
    padding: 15px 10px 15px 10px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #000;
}

.search-form input[type=submit] {
    background-color: #006ce4;
    color: #fff;
    outline: none;
    border: 4px solid #ffb700;
    border-radius: 10px;
    padding: 0 30px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

/* main page */

.main-page {
    padding: 0 15%;
    /* padding: 0 200px; */
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

/* filter section */
.filter {
    max-width: 30%;
    min-width: 167px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.filter .filter-title {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.filter hr {
    outline: none;
    border-color: lightgray;
    border-top: 0;
}

.filter .filter-section {
    padding: 10px 15px;
}

.filter .filter-section h5 {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.filter label {
    font-size: 0.8rem;
    font-weight: 300;
}

.filter input[type=radio] {
    transform: scale(1.2);
    margin-right: 5px;
    vertical-align: middle;
}

.inp-wrap {
    margin-bottom: 10px;
}

.filter input[type=checkbox] {
    vertical-align: middle;
    transform: scale(1.2);
    margin-right: 10px;
}

/* results */
.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.item {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.hotel-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.item img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

.item-col-1 {
    display: flex;
    justify-content: space-between;
}

.item-col-1 h1 a,
.item-col-1 a:visited {
    text-decoration: none;
    color: #074fba;
}

.item-col-1 h1 a:hover {
    color: #000;
}

.item-col-1 h4 {
    background-color: #074fba;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
}

.item-col-1 h4 span {
    font-size: 1.2rem;
    margin-left: 5px;
}

.item-col-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 5px;
}

.item-col-2 p {
    font-size: 0.8rem;
}

.item-col-2 .desc {
    color: rgb(78, 77, 77);
    font-size: 0.9rem;
}

.hotel-price-sec {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.hotel-price-sec h4 {
    font-size: 1.3rem;
}

.hotel-price-sec div {
    display: flex;
    gap: 10px;
}

.item-col-2 div .tag {
    display: inline-block;
    background-color: #7fade1;
    color: #003d82;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 3px 7px;
    margin: 4px 2px;
}

.footer {
    background-color: var(--extra-light);
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5rem;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.footer__col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
    font-family: "Poppins", sans-serif;
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    font-family: "Poppins", sans-serif;
}

.footer__col p {
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
}

.footer__col p:hover {
    color: var(--text-dark);
}

.footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
}

.footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
}

/* media queries */

@media (max-width: 950px) {

    header,
    .search-section,
    .main-page {
        padding: 20px 10% 10px;
    }

    .logo-text a {
        font-size: 1.5rem;
    }

    nav li {
        padding: 0.5rem 0;
    }

    nav li a {
        padding: 5px 15px;
    }

    .title {
        padding: 20px 10% 10px;
    }

    .title #page-title {
        font-size: 3rem;
    }

    .item {
        flex-direction: column;
    }

    .item img {
        width: 100%;
        height: 30%;
    }
}

@media (max-width: 750px) {

    header,
    .search-section,
    .main-page {
        padding: 20px 5% 10px;
    }

    .logo-text a {
        font-size: 1.3rem;
    }

    .title {
        padding: 20px 5% 10px;
    }
}

@media (max-width: 650px) {
    .search-section .search-form .inputs {
        flex-direction: column;
    }

    .search-section .search-form {
        flex-direction: column;
    }

    .search-section .search-form input[type=submit] {
        padding: 15px 30px;
    }

    .main-page {
        flex-direction: column;
    }

    .filter {
        min-width: 100%;
    }

    .filter div {
        width: 100%;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo-text a {
        font-size: 1.5rem;
    }

    .title #page-title {
        font-size: 2rem;
    }

    .title #page-description {
        font-size: 0.8rem;
    }
}

@media (width < 900px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .footer__container {
        gap: 2rem;
    }
}